@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Outfit&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
  flex-direction: column;
}
.layer {
  padding: 12px 10px 12px 10px;
  background-color: hsl(0, 0%, 100%);
  box-sizing: border-box;
  width: 235px;
  border-radius: 10px;
  box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.1);
}
.layer img {
  width: 100%;
  border-radius: 7px;
}
.heading {
  padding: 10px 9px 10px 9px;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-family: Outfit;
  font-family: "EB Garamond", serif;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.paragraph {
  text-align: center;
  padding: 0 9px 9px 9px;
  color: hsl(220, 15%, 55%);
  font-weight: 500;
  font-size: 13px;
  font-family: "EB Garamond", serif;
  font-family: "Outfit", sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
